header{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    background-image: url(Imagens/Background_header.png);
}

.cabecalho{
    padding: 10px 20px;
}

.foto_da_banda

.foto_da_banda img{
    height: 5%;
}

.sobre{
    
}